<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    {% include header.html %}

    <main class="mdl-layout__content">
      {{ content }}
    </main>

    {% include footer.html %}

    </div>
    <!--  jQuery 1.7+  -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <!-- MDL js -->
    <script async src="https://code.getmdl.io/1.1.3/material.min.js"></script>
    <!-- Include carrousel js plugin -->
    <script async src="{{ "/plugins/owl-carousel/owl.carousel.min.js" | prepend: site.baseurl }}"></script>
    <script>$( "a[href='{{ page.url | remove: "index.html" }}']" ).addClass("is-active");</script>
  </body>
</html>
